// Navbar
// -------------------------
body { padding-top: $navbar-height; } // Padding to keep the body content from being underneath the navbar
nav {

  .navbar-brand {
      padding-top: 14px;

    img {
      @extend .img-responsive;
    }
  }

  li {
    a {
      font-family: $font-family-amatic-sc;
      font-size: 35px;
      font-weight: 700;
    }
  }
}