
// Jumbotron
// -------------------------

.jumbotron {
  height: 610px;
  padding-top: 0 !important;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-attachment: fixed;
}

// Jumbotron background image for each page
.index .jumbotron { background-image: image-url("jumbotrons/home.jpg"); }
.ceremony .jumbotron { background-image: image-url("jumbotrons/ceremony.jpg"); }
.reception .jumbotron { background-image: image-url("jumbotrons/reception.jpg"); }
.accommodations .jumbotron { background-image: image-url("jumbotrons/accommodations.jpg"); }
.registry .jumbotron { background-image: image-url("jumbotrons/registry.jpg"); }
.more .jumbotron { background-image: image-url("jumbotrons/more.jpg"); }
.rsvp .jumbotron,
.rsvp-errors .jumbotron { background-image: image-url("jumbotrons/rsvp.jpg"); }
.x404 .jumbotron { background-image: image-url("jumbotrons/404.jpg"); }
.thank-you .jumbotron { background-image: image-url("jumbotrons/thank-you.jpg"); }
