
// Content
// -------------------------
// Page content
// -------------------------
.content {
  @extend .col-sm-8;
}

.content h1 {
  @extend .page-header;
}

// Make any image in the content area responsive
.content img {
  @extend .img-responsive;
}


// Paragraph Lead
// -------------------------

.lead {
  font-family: $font-family-amatic-sc;
  font-size: 35px;
  color: $wedding-pink;
}

// Images
// -------------------------

.images {
  @extend .col-sm-4;
}
.images ul {
  @extend .list-unstyled;
}
.images ul li {
  margin-bottom: $padding-large-horizontal;
}


// Ceremony Page
// -------------------------

.ceremony ul.wedding-colors {
  @extend .list-inline;
}
.ceremony ul.wedding-colors li {
  @extend .img-circle;
  width: 80px;
  height: 80px;

  &:first-child  { background-color: $wedding-yellow; }
  &:nth-child(2) { background-color: $wedding-pink;   }
  &:nth-child(3) { background-color: $wedding-mint;   }
  &:last-child   { background-color: $wedding-tan;    }
}


// Navbar
// -------------------------

nav {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-static-top;

  font-family: $font-family-serif;
  font-size: $font-size-large * 1.8;
}
nav header {
  @extend .navbar-header;
}

nav li a {}


// Footer
// -------------------------

footer {
  margin-top: $line-height-computed * 4;
  background:
    image_url('footer-pic.jpg') center center no-repeat, // Top image
    image_url('footer-bg.jpg');                          // Bottom image

  min-height: 140px;
  font-family: $font-family-serif;
  font-size: $font-size-large * 1.1;
  color: #fff;

  p:first-child {
    font-size: $font-size-large * 1.3;
    margin-top: $line-height-computed;
    margin-bottom: 0;
  }
}
