// Link icons
// -------------------------

.location {
  @include glyphicon("\e062");
}

.www {
  @include glyphicon("\e144");
}


// Ceremony Page
// -------------------------

.ceremony {

  ul.wedding-colors {
    @extend .list-inline;

     li {
      @extend .img-circle;
      width: 70px;
      height: 70px;

      &:first-child  { background-color: $wedding-yellow; }
      &:nth-child(2) { background-color: $wedding-pink;   }
      &:nth-child(3) { background-color: $wedding-mint;   }
      &:last-child   { background-color: $wedding-tan;    }
    }
  }

}//.ceremony

// RSVP
// -------------------------

.rsvp, .rsvp-errors {
  button {
    background-color: $wedding-green;
    color: #fff;
  }
}

.rsvp-errors {
  .has-error {
    input {
      @include placeholder($brand-danger);
    }
  }
}//.rsvp-errors


// Registry
// -------------------------
.registry {
  .content {
    ul {
      @extend .list-unstyled;

      li {
        margin-top: $line-height-computed;
      }
    }
  }
}
