// Ceremony Page
// -------------------------

.ceremony {

  ul.wedding-colors {
    @extend .list-inline;

     li {
      @extend .img-circle;
      width: 80px;
      height: 80px;

      &:first-child  { background-color: $wedding-yellow; }
      &:nth-child(2) { background-color: $wedding-pink;   }
      &:nth-child(3) { background-color: $wedding-mint;   }
      &:last-child   { background-color: $wedding-tan;    }
    }
  }

}//.ceremony


// More Page
// -------------------------

.more {
  .location {
    @include glyphicon("\e062");
  }

  .www {
    @include glyphicon("\e144");
  }

}//.more

// RSVP
// -------------------------

.rsvp {
  form {
    width: 60%;
  }
}//.rsvp

.rsvp-errors {
  .has-error {
    input {
      @include placeholder($brand-danger);
    }    
  }
}//.rsvp-errors
