// Snapshots
// -------------------------
.snapshots {
  @extend .row;
  padding-bottom: $line-height-computed;

  .snap {
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-xs-6;

    img {
      @extend .img-circle;
      @extend .img-responsive;

      &:hover {
        @include box-shadow(0 0 6px rgba(0, 0, 0, 0.5));
        @include transition(.15s linear);
        @include scale(1.5);
        position: relative;
        z-index: 5;
      }
    }
  }
}