// Site theme

nav ul {
  @extend .list-inline;

  li {
    margin-right: 20px;
  }

  a {
    color: $party-grey-dark;
    text-transform: uppercase;
  }
}

hr {
  color: $party-grey-medium;
}

.carousel {
  img {
    @extend .img-responsive;
    padding: 5px;
  }

  .slick-dots {
    bottom: inherit;
  }
}

.invite {
  @extend .col-md-6;
  @extend .col-md-offset-3;

  // Taken from bootstrap's .panel
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid $party-grey-medium;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));

  h3 {
    margin: 40px 0;
    text-align: center;
  }

  .row {
    .date,
    .time,
    .address {
      @extend .col-md-offset-2;
      @extend .col-sm-1;

      i {
        margin-right: 10px;
        font-size: 200%;
      }

      .ion-android-calendar	{ color: $party-orange; }
      .ion-android-time			{ color: $party-pink; }
      .ion-android-pin			{ color: $party-teal; }
    }
    .text {
      @extend .col-sm-9;
      font-size: 21pt;
    }
  }//.row

  hr {
    color: $party-grey-dark;
    width: 70%;
  }

} //.invite


// RSVP form, it's the only form
form {
	label {
		font-weight: normal;
	}

  input,
  textarea {
    border-radius: 0 !important;
  }

  button.btn-rsvp {
    background-color: $party-orange;
    color: #fff;
    border-radius: 0 !important;

    &:focus,
    &:active,
    &:hover {
      color: #fff;
      background-color: darken($party-orange, 10%);
    }

  }
}
