// Site theme

nav ul {
	@extend .list-inline;

	li {
		margin-right: 20px;
	}

	a {
		color: $party-grey-dark;
		text-transform: uppercase;
	}
}

hr {
	color: $party-grey-medium;
}

.carousel {
	// Remove padding from the sides so the images go to the edge of the screen
	margin-left: -5px;
	margin-right: -5px;

	img {
		@extend .img-responsive;
		padding: 5px;
	}

	.slick-dots {
		bottom: inherit;
	}
}
