// Headings
// -------------------------
h1, h2 {
  font-family: $font-family-amatic-sc;
  font-weight: 700;
}

h1 {
  font-size: 45px;
  line-height: 40px;
  color: $brand-primary;
}

h2 {
  font-size: 35px;
  line-height: 35px;
  color: $brand-alternate;
}

h3 {
  font-family: $font-family-cabin-condensed;
  font-weight: 400;
  font-size: 21px;
  line-height: 23px;
  color: $brand-alternate;
}

footer {
  h2, p {
    font-family: $font-family-amatic-sc;
    color: #fff;
  }
}