
// Headings
// -------------------------

// Font
h1, h2, h3, h4 {
  font-family: $font-family-amatic-sc;
}

h5, h6 {
  font-family: $font-family-open-sans;
}

// Color
h1, h6 { color: $wedding-pink; }
h2, h4 { color: $wedding-gray; }
h3, h5 { color: $wedding-mint; }


// Size
h1, h2, h3 { font-size: 48px; }
h4         { font-size: 35px; }
h5         { font-size: 26px; }
h6         { font-size: 24px; }
