// Fonts
// -------------------------
$font-family-amatic-sc:        "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-cabin-condensed:  "Cabin Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Wedding Colors
// -------------------------
$wedding-yellow:  #fcc028;
$wedding-pink:    #e67991;
$wedding-mint:    #8ed1cb;
$wedding-tan:     #cdb8a7;
