/ Contact Us
/ ==================================================
.content#contact-us
  %section
    %h1 Contact Us
    %p.lead We'd love to hear from you!
    %p Or perhaps just stalk our social media? Come back again! Until then...

    .valerie
      %p= image_tag 'valerie.png', alt: 'picture of Valerie with a sleeping Caslon dog'
      %ul
        - data.social.valerie.each do |social|
          %li
            = link_to social['url'], class: social['network'], title: social['network'] do
              %span{ class: social['network'] }

    .justin
      %p= image_tag 'justin.png', alt: 'picture of Justin having a beer by the lake'
      %ul
        - data.social.justin.each do |social|
          %li
            = link_to social['url'], class: social['network'], title: social['network'] do
              %span{ class: social['network'] }