/ Details
/ ==================================================
#details
  .content
    %section
      %h1 Details
      %p
        It’s been a year full of big changes including getting engaged, trimming down our belongings
        and fixing up the house in preparation for the cross-country move. We’ll be listing our house
        for sale in the next few months and pending its sale, pack our boxes and hit the road, landing
        in Portland, Oregon. We would like a 2-3 bedroom house (room for guests!) in North Portland with
        a yard, parking and a place to brew beer. Upon settling in, we’ll work remote, continuing at our
        current jobs while looking for local employment.
      %p= image_tag 'iowa-to-portland.png', alt: 'Moving from Iowa to Portland!', class: 'img-responsive'