/ Details
/ ==================================================
#details
  .content
    %section
      %h1 Details
      %p
        It’s been a year full of big changes, including moving in together, getting engaged,
        trimming down our belongings and fixing up the house to prep for our big move. We will
        list our house for sale in the Spring. Pending its sale, we’ll pack up our boxes and
        begin our treck across the country, landing in Portland, Oregon, where new opportunities
        await us. We’re excited to get aquanted with the West coast, meet new people and begin
        a fresh start!
      %p
        We’re hoping to find a 2-3 bedroom house with a yard for the pup and a place to brew beer.
        Parking would be nice so we’ll likely land in North Portland. Once settled, we’ll work
        remote, contining at our current jobs while looking for local employment.
      %p
        There are no wedding plans as of yet. The move will come first. As soon as we have details,
        though, we’ll be sure to share them here. :)