/ He and She
/ ==================================================
.content#heandshe
  %section
    %h1 He &amp; She

    %section.he
      %h2 Justin
      %p
        Justin is a website developer at the Area Education Agency 267. He lives up to his name,
        cooking us meals-- spending hours in the kitchen because ‘everything is better from scratch’. :)
        He loves hummus, popcorn and adds hot sauce to everything.
      %p
        J.R. (short for Justin Roy) takes part in home brewing. He and a small group of friends
        gather (~)monthly to brew 5-10 gallon batches of beer. They drink, socialize and eat smoked
        meats during the down times. IPAs are his favorite... there are even hop vines in the backyard
        and a kegerator downstairs.
      %p
        Justin loves biking, accruing many miles. Last season he hit the thousand mile mark,
        and then some. This summer, however, his numbers were down due to a broken hand,
        which happened on the bike... well, off the bike, that is.
      %p
        Additional random facts that should probably be noted: Justin enjoys Sci-Fi and has
        a cat named Frank. He’s fun! and bursts out into random WOOOOOO OOOOOOOs which never
        fail to make me smile.
      %p
        Justin is amazing. It’s him and I and the world, and nothing else matters.

    %section.she
      %h2 Valerie
      %p
        Valerie is a super awesome master (’s degree) designer, maker and crafter.
        She paints, draws and has hundreds of unique owls in her sketchbook.
      %p
        She will do anything for an apple strudel bite (and I mean ANYTHING!! // kidding, kidding :P)...
        pastries in general actually. Vmerch is a Mt. Dew aficionado too. She does...THE DEW.
        She’s so extreme!! Her dews cannot be consumed at refridgerator temperature though--
        they must be seasoned® to ice cold perfection first. You’ll have to ask her about that. :)
      %p
        When we stay in, we spend many hours watching Investigation Discovery
        (<whisper>INVESTIGATE) or one of her other favorite crime TV shows. Sunday is reserved
        for Snapped (marathons), as well as sweets and (post)secrets!
      %p
        Merchant! <yelled> is the momma to the cutest dachshund in the world. He’s named after a
        typeface (font), Caslon. He has quickly become attached to me; but him and Frank are, well,
        still adjusting to one another...
      %p
        Valerie is incredible. I love her, and she is the only one for me.