/ He and She
/ ==================================================
.content#heandshe
  %section
    %h1 He &amp; She

    %section.he
      %h2 Justin
      %p Web Developer. Bike Rider. Food Maker. Frank Owner. Beer Brewer. IPA Drinker. Spicy Eater. Valerie Lover.

    %section.she
      %h2 Valerie
      %p Web Designer. Owl Illustrator. Card Maker. Waterloo Dweller. Dachshund Owner. Dew Drinker. Fun Haver. Justin Lover.