/ He and She
/ ==================================================
.content#heandshe
  %section
    %h1 He &amp; She

    %section.he
      %h2
        %span.spatula
        Justin
      %p
        Web Developer. Bike Rider. Food Maker.
        #{image_tag 'cat.png', alt: 'Frank the cat!'} Frank Owner.
        Beer Brewer. IPA Drinker. Spicy Eater. Valerie Lover.

    %section.she
      %h2 Valerie
      %p
        Web Designer. Owl Illustrator. Card Maker. Waterloo Dweller.
        #{image_tag 'pup.png', alt: 'Caslon the dog!'} Dachshund Owner.
        Dew Drinker. Fun Haver. Justin Lover.