.jumbotron
  .container
    - if page_classes.include? "index"
      %h1.logo
        = image_tag 'logo.png'
    - elsif page_classes.include? "ceremony"
      %header
        %h1 Cathedral Park Stairway Landing, Under the St. Johns Bridge.
        %p Friday, July 24 - 4pm
