/ Latest
/ ==================================================
.content#latest
  %section
    %h1 Latest
    %h3 He said yes! We decided on forever!
    %p
      There are no wedding plans yet, as we have a few large things to tackle first. When
      details are decided upon though, we’ll be sure to share them here! Many thanks to our
      friends and family, and to those future family members: a few words about each of us, below: