---
title: Whaaat? Where? How?
images:
  - index-2.jpg
  - rsvp-2.jpg
  - accomadations-3.jpg
permalink: /404.html
---

%h1 What? Where? How?

%p
  I've worked really hard to make sure you don't get lost but...I don't really
  know what happened. Not sure what happens now, suppose you can go back or...
  I don't know, hang out and chill.

%p
  Grab a drink, we're going to be here for awhile.

.embed-responsive.embed-responsive-16by9
  %iframe.embemd-responsive-item{ src: "https://www.youtube.com/embed/wZZ7oFKsKzY" }
