#we-did.container
  / Carousel
  / ==================================================
  .carousel
    - 1.upto(11).each do |img|
      .item{ class: ( "active" if img.eql?(1) ) }
        = image_tag "carousel/#{img}.jpg", alt: ""

  %p
    We shared our vows and united forever on the most beautiful and sunny
    Friday afternoon under the cathedral arches of the St Johns Bridge. It was
    intimate and perfect.
