#we-will.container
	%h2 We Will

	%p
		We will be back in Iowa from October 21 until October 28, and ready to
		party with you on Saturday the 24th.

	.invite
		.inner
			%h3= image_tag 'i-do-bbq.png', alt: 'I Do BBQ'
			%ul
				%li.date
					%i.icon.ion-android-calendar
					Saturday, October 24th
				%li.time
					%i.icon.ion-android-time
					5 pm until 9 pm
				%li.address
					%i.icon.ion-android-pin
					%address
						Waterloo Boat House
						%br
						707 Park Rd // Waterloo, IA 50703
