#we-will.container
	%h2 We Will

	%p
		We will be back in Iowa from October 21 until October 28, and ready to
		party with you on Saturday the 24th.

	.invite
		%h3= image_tag 'i-do-bbq.png', alt: 'I Do BBQ'

		.row
			.date
				%i.icon.ion-android-calendar
			.text
				Saturday, October 24th
		%hr
		.row
			.time
				%i.icon.ion-android-time
			.text
				5 pm until 9 pm
		%hr
		.row
			.address
				%i.icon.ion-android-pin
			.text
				%address
					Waterloo Boat House
					%br
					707 Park Rd
					%br
					Waterloo, IA 50703
