---
title: Accommodations
images:
  - accommodations-1.jpg
  - accommodations-2.jpg
  - accommodations-3.jpg
---

%h1 Accomodations

%ul.list-unstyled
  %li
    %i.fa.fa-plane
    = link_to "Flights", "flights.html"
  %li
    %i.fa.fa-bus
    = link_to "Getting Around", "getting-around.html"
  %li
    %i.fa.fa-bed
    = link_to "Lodging", "lodging.html"
