---
title: Ceremony
---

.container
  %h1.page-header The Ceremony


  %h1.page-header The Two of Us

  .row
    .col-sm-6
      %h3 Ceremony Specifics
      %h4 Our Color Palette

      %ul.wedding-colors
        %li yellow #fcc028
        %li pink #e67991
        %li mint #8ed1cb
        %li tan #cdb8a7

      %h2 Wedding Attire
      %p It's a seated ceremony (and seated reception).

    .col-sm-6
      %h3 Your Trip Forecast
      %p
        The high temps ranged from 71ยบ to 91ยบ during late July, 2014 with a
        historical average of 82ยบ and an overnight low of 59ยบ. Winds are mild.
      %hr
      %p
        July was the clearest and least humid month of 2014! Less than an half inch
        of total rain fell in July, with 77% of days being more clear than cloudy.

      %h3 Historical Landing
      %p
        Construction began on the St. Johns Bridge in September 1929 and was
        completed in May 1931. The bridge was built over the Willamette River,
        totaling nearly 3,834 feet in length. It is the only steel suspension bridge
        in Portland; the main suspension is 1,207 feet long.
      %p
        In its dedication in June, 1931, reference was made to its beautiful Gothic,
        cathedral-like arches, and thus the park beneath found its name. Forty nine
        years later, in June of 1980, the Cathedral Park Committee sealed a time
        capsule into the stone wall. Measurements for how to find the capsule have
        been left with the Oregon History Center. The time capsule will be opened in 2030.
