---
title: What's Cooking with Us
---

.container
  %h1 The Two of Us
  .row
    .col-sm-6
      %h2 Justin Cook
      %p
        Justin is a website developer, working remotely for the Area Education
        Agency 267 in Cedar Falls. He writes code and maintains their website
        and online tools (and has been with them for 10+ years).
      %p
        Justin lives up to his name, cooking us meals-- spending hours in the
        kitchen making nearly everything from scratch. :) Some favorite foods
        include hummus, anything with hot sauce and [has converted me to a]
        popcorn [lover].
      %p
        J.R. (short for Justin Roy) also brews beer. He and a small group of
        friends used to gather monthly to brew 5-10 gallon batches. IPAs are
        his favorite...and I’m sure there will be some on tap in the dining
        room kegerator very soon.
      %p
        Additional random facts that should probably be noted: he loves biking,
        enjoys Sci-Fi movies and has a cat named Frank. And he bursts out into
        random WOOOOOO OOOOOOOs which never fail to make me smile.
      %p Justin is amazing. It’s him and I and the world, and nothing else matters.

    .col-sm-6
      %h2 Valerie Merchant
      %p
        Valerie is a super awesome master [’s degree] designer, maker and crafter.
        She creates custom Financial Institution websites for Banno, in the home office as well.
      %p
        She loves scones, apples strudels... pastries in general, and has a soft
        spot for (frosted cake) donuts with sprinkles!!!! (though yeast are clearly
        a far superior donut.) She does...THE (Mountain) DEW too. She’s so extreme!!
        But they must be seasoned® to ice cold perfection first.
      %p
        When we stay in, she likes watching Investigation Discovery (&lt;whisper&gt; INVESTIGATE)
        among other favorite crime TV shows. Sunday is reserved for Snapped (marathons),
        as well as sweets and (Post)secrets!
      %p
        Merchant! <yelled> is the momma to the cutest dachshund in the world.
        He’s named after a typeface (font), Caslon. Him and Frank are, well,
        still adjusting to one another...
      %p
        Valerie is incredible. I love her, and she is the only one for me.
