---
title: What's Cooking with Us
---

/ Latest
/ ==================================================
%section#latest
  %h1 Latest

  .row
    .col-md-8
      %h2 Featurette
      %p
        attenuation imperial acid rest bright beer final gravity filter. chocolate malt,
        conditioning top-fermenting yeast krug krausen, " bottle conditioning lambic."
        becher beer top-fermenting yeast filter, pint glass malt extract. cask conditioning
        heat exchanger cold filter.
      %p
        priming aroma hops, krausen lauter. hefe terminal gravity wheat beer glass infusion
        mouthfeel. degrees plato beer. cask conditioned ale bottle conditioning becher;
        kolsch; conditioning tank pitching craft beer bottle conditioning. barrel draft
        (draught) ipa additive pub alpha acid." malt extract degrees plato, length abbey,
        double bock/dopplebock keg infusion lauter tun chocolate malt. oxidized, bock,
        mash scotch ale bacterial goblet terminal gravity? bitter bottom fermenting yeast
        ipa enzymes, bottom fermenting yeast oxidized. top-fermenting yeast length dry stout,
        conditioning tank?
      %p
        filter; wit; units of bitterness all-malt krug bottom fermenting yeast. pitching kolsch
        sparge terminal gravity oxidized lauter tun. brew. primary fermentation cask pint glass.
    .col-md-4
      %ul.polaroids
        %li
          .polaroid{ title: 'picture of things' }
            = image_tag 'snapshots/1.jpg', alt: 'picture of things'


/ He and She
/ ==================================================
%section#heandshe
  %h1 He &amp; She
  %p
    attenuation imperial acid rest bright beer final gravity filter. chocolate malt,
    conditioning top-fermenting yeast krug krausen, " bottle conditioning lambic."
    becher beer top-fermenting yeast filter, pint glass malt extract. cask conditioning
    heat exchanger cold filter.
  %p
    priming aroma hops, krausen lauter. hefe terminal gravity wheat beer glass infusion
    mouthfeel. degrees plato beer. cask conditioned ale bottle conditioning becher;
    kolsch; conditioning tank pitching craft beer bottle conditioning. barrel draft
    (draught) ipa additive pub alpha acid." malt extract degrees plato, length abbey,
    double bock/dopplebock keg infusion lauter tun chocolate malt. oxidized, bock,
    mash scotch ale bacterial goblet terminal gravity? bitter bottom fermenting yeast
    ipa enzymes, bottom fermenting yeast oxidized. top-fermenting yeast length dry stout,
    conditioning tank?
  %p
    filter; wit; units of bitterness all-malt krug bottom fermenting yeast. pitching kolsch
    sparge terminal gravity oxidized lauter tun. brew. primary fermentation cask pint glass.

/ Details
/ ==================================================
%section#deets
  %h1 Details
  %p
    attenuation imperial acid rest bright beer final gravity filter. chocolate malt,
    conditioning top-fermenting yeast krug krausen, " bottle conditioning lambic."
    becher beer top-fermenting yeast filter, pint glass malt extract. cask conditioning
    heat exchanger cold filter.
  %p
    priming aroma hops, krausen lauter. hefe terminal gravity wheat beer glass infusion
    mouthfeel. degrees plato beer. cask conditioned ale bottle conditioning becher;
    kolsch; conditioning tank pitching craft beer bottle conditioning. barrel draft
    (draught) ipa additive pub alpha acid." malt extract degrees plato, length abbey,
    double bock/dopplebock keg infusion lauter tun chocolate malt. oxidized, bock,
    mash scotch ale bacterial goblet terminal gravity? bitter bottom fermenting yeast
    ipa enzymes, bottom fermenting yeast oxidized. top-fermenting yeast length dry stout,
    conditioning tank?
  %p
    filter; wit; units of bitterness all-malt krug bottom fermenting yeast. pitching kolsch
    sparge terminal gravity oxidized lauter tun. brew. primary fermentation cask pint glass.

/ Snapshots
/ ==================================================
%section#snaps
  %h1 Snapshots
  - (1..12).each_slice(4) do |group|
    .snapshots
      - group.each do |snap|
        .snap
          = image_tag "snapshots/#{snap}.jpg", alt: ''

/ Contact Us
/ ==================================================
%section#contact
  %h1 Contact Us